/*Body Styles for the about me page*/

.allBodyAm{
    margin-top: 10%;
    display:flex
}
.rightColumn{
    width: 20%;
    border-right: 3px solid#00C0B1;
    flex-direction: column;
}
.rightColumn img{
    width: 250px;
    height: 250px;
}
.SocialMedia{
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}
.CButton{
    margin: 5% 5% 5% 5%;
    justify-content: center;
    border-bottom: 3px solid #00C0B1 ;
    padding-bottom: 3%;
}
.leftColumn{
    width: 76%;
    justify-content: center;
}
.ButtonC{
    background: #58575D; 
    border-radius: 25px;
    font-size: 20px;
    width: 300px;
    height: 50px;
    color: #00C0B1;
}
.TitleProf{
    background: #BFC1C6;
    border-radius: 30px;
    width: 153px;
    height: 32px;
    margin-left: 4%;
}
.TitleProf p{
    color: #00C0B1;
    font-size: 18px;
    text-align: center;
}
.InfoProf{
    background: #00C0B1;
    width: 93%;
    margin-left: 4%;
}
.InfoProf p{
    color: #FFFAFA;
    font-size: 20px;
    text-align: center;
    padding: 3%;
}

/*Modals styles*/
.Modals{
    display: flex;
    justify-content: space-around;
    margin: 5% 4%;
}
.modal-contenido{
    background: #FFFAFA;
    border: 5px double #58575D; 
    width: 60%;
    padding: 10px 20px;
    margin: 20% auto;
}
.modal{
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
    position: absolute;
}
#miModal1:target{
    opacity:1;
    pointer-events:auto;
    text-align: center;
}
#miModal2:target{
    opacity:1;
    pointer-events:auto;
    text-align: center;
}
#miModal3:target{
    opacity:1;
    pointer-events:auto;
    text-align: center;
}
#miModal4:target{
    opacity:1;
    pointer-events:auto;
    text-align: center;
}
#miModal5:target{
    opacity:1;
    pointer-events:auto;
    text-align: center;
}
#miModal6:target{
    opacity:1;
    pointer-events:auto;
}
.Modals a{
    background: #00C0B1;
    color: #FFFAFA;
    padding: 1%;
    border-radius: 10px;
    text-align: left;
}
.Foot{
 background: #00C0B1;
}
.modal-contenido p{
     color: #58575D;
}



/*Responsive Design*/
@media only screen and (min-width:340px) and (max-width:626px){
    .allBodyAm{
        margin-top: 20%;
    }
    .rightColumn{
        width: 46%;
    }
    .rightColumn img{
        width: 150px;
        height: 150px;
    }
    .leftColumn{
        width: 80%;
    }
    .InfoProf p{
        font-size: 15px;
    }
    .Modals{
        flex-direction: column;
    }
    .modal-contenido{
        padding: 20px 30px;
        margin: 30% auto;
    }
    .modal-contenido h2{
        font-size: 20px;
    }
}

@media only screen and (min-width:627px) and (max-width:1024px){
    .allBodyAm{
        margin-top: 15%;
    }
    .rightColumn{
        width: 46%;
    }
    .rightColumn img{
        width: 150px;
        height: 150px;
    }
    .leftColumn{
        width: 80%;
    }
    .InfoProf p{
        font-size: 19px;
    }
    .Modals{
        flex-direction: column;
    }
    .modal-contenido{
        padding: 20px 30px;
        margin: 30% auto;
    }
    .modal-contenido h2{
        font-size: 20px;
    }
}
    @media only screen and (min-width:1025px) and (max-width:1200px){
        .rightColumn img{
            width: 180px;
            height: 180px;
        }
}