.containerHeader{
    padding-left: 7%;
    height: 300px;
    width: 76%;
}
.photo{
    width: 230px;
    height: 200px;
    border: 50px solid #BFC1C6;
    background: #BFC1C6;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    left: 280%;
}
.Redes{
    display: flex;
}
.Icons{
    background: #BFC1C6;
    border-radius: 20%;
    flex-direction: column;
    width: 80px;
    margin-top: 1%;
}
.Icons img{
    width: 60px;
    height: 60px;
}
.Users{
    color: #FFFAFA;
    font-size: 20px;
    margin-top: 3%;
    align-items: center;
}






/*.modal-contenido{
    background-color:aqua;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #miModal:target{
    opacity:1;
    pointer-events:auto;
  }
  
  
                      <a href="#miModal">Abrir Modal</a>
                        <div id="miModal" className="modal">
                        <div className="modal-contenido">
                            <a href="#">X</a>
                            <h2>Mi primer Modal</h2>
                            <p>Este es mi primera ventana modal sin utilizar JavaScript.</p>
                        </div>  
                        </div>  */





