
/*Styles of the header of the page "Formación académica"*/

.containerHeader{
    padding-left: 7%;
    height: 300px;
    width: 76%;
    background: hsl(175, 100%, 38%);
    position: absolute; /*Its position is assigned regardless of the position of the other elements.*/
    font-size: 30px;
    color: #FFFAFA;  
}
.Photo{
    width: 220px;
    height: 200px;
    border: 50px solid #BFC1C6;
    background: #BFC1C6;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    left: 70%;
}
.Photo img{
    width: 290px; /*Size*/
    height: 290px; /*Size*/
    position: relative; /*The position of the element depends on where it is located*/
    border-radius: 200px;
    right: 20%;
    bottom: 20%;
}
.Redes{
    display: flex;
}
.Icons{
    background: #BFC1C6;
    border-radius: 20%;
    flex-direction: column;
    width: 80px;
    margin-top: 1%;
}
.Icons img{
    width: 60px;
    height: 60px;
}
.Users{
    color: #FFFAFA;
    font-size: 20px;
    margin-top: 3%;
    align-items: center;
}


/*Responsive Design*/
@media only screen and (min-width:340px) and (max-width:768px){
    .containerHeader{
        width: 90%;
    }
    .Photo{
        width: 180px;
        height: 180px;
    }
    .Photo img{
        width: 240px;
        height: 250px;
    }
    .Icons{
        width: 60px;
    }
    .Icons img{
        width: 40px;
        height: 50px;
    }
    .Users{
        font-size: 20px;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .containerHeader{
        width: 80%;
        height: 330px;
    }
    .Photo{
        width: 220px;
        height: 220px;
    }
    .Photo img{
        width: 290px;
        height: 300px;
    }
    .Icons{
        width: 70px;
    }
    .Icons img{
        width: 60px;
        height: 70px;
    }
    .Users{
        font-size: 25px;
    }
}