.Logo img{
  width: 250px;
  height: 250px;
}

.Banner img{
  width: 100%;
  height: 470px;
}

#boton {
  font-size: 15px;
  background: #00C0B1;
  color: #fff;
  border: 0.25rem solid #00C0B1;
  margin: 16px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 200px;
  height: 40px;
  justify-content: center;
}
#boton:hover {
  color: #00C0B1;
}
#boton::after {
  content: "";
  background: #fff;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}
Button[class^="grow"]::after {
  transition: all 0.3s ease;
}
Button[class^="grow"]:hover::after {
  transition: all 0.3s ease-out;
}
Button.grow_spin::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-180deg);
}
Button.grow_spin:hover::after {
  transform: scale(1, 1) rotate(0deg);
}