
/*Head Styles*/
.containerHead{
    height: auto;
    width: 100%;
    background: hsl(175, 100%, 38%);
    position: absolute;
    font-size: 30px;
}
.titleHead{
    display: flex;
    justify-content: center;
}
.subtitleHead{
    justify-content: center;
    color: #FFFAFA;  
}


/*Responsive Design*/
@media only screen and (min-width:340px) and (max-width:768px){
    .containerHead{
        font-size: 20px;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .containerHead{
        font-size: 25px;
    }
}